.photo-1 { background-image: url("../images/portfolio1.png"); }

.photo-2 { background-image: url("../images/portfolio2.png"); }

.photo-3 { background-image: url("../images/image2.png"); }

.photo-4 { background-image: url("../images/portfolio4.png"); }

.photo-5 { background-image: url("../images/image4.png"); }

.photo-6 { background-image: url("../images/image5.png"); }

.face-1 { background-image: url("../images/myphoto.png"); }

* { margin: 0; padding: 0; font-family: "Montserrat"; box-sizing: border-box; outline: none; }

h1 { font-size: 40px; font-weight: 900; }

p { font-size: 16px; font-family: "PT Serif", serif; }

.btn { width: 240px; height: 65px; background: #6BD080; font-size: 18px; text-transform: uppercase; font-weight: 700; line-height: 50px; color: #FFF; }

.btn a:hover { text-decoration: none; }

.main-picture { background-image: url("../images/hero4.jpg"); background-size: cover; width: 100%; height: 700px; padding: 30px 15vw; }

.main-picture nav h1 { color: #FFF; display: block; float: left; font-size: 30px; font-weight: 500; letter-spacing: 3px; margin-top: 0; font-family: 'Great Vibes', cursive; }

.main-picture nav li { list-style-type: none; display: block; float: left; padding: 0 10px; height: 30px; line-height: 30px; }

.main-picture nav li a { color: #FFF; text-decoration: none; font-size: 14px; font-weight: 400; text-transform: uppercase; }

.main-picture nav li:hover { background-color: #242424; }

.main-picture nav li:hover a { color: #6BD080; }

.main-picture .hero { width: 100%; height: 450px; margin-top: 50px; text-align: left; padding-top: 50px; }

.main-picture .hero * { color: #FFF; margin: 20px auto; }

.main-picture .hero h1 { font-weight: 100; letter-spacing: 2px; font-family: "PT Serif", serif; }

.main-picture .hero h2 { font-size: 75px; font-weight: 700; text-transform: uppercase; }

.main-picture .hero .fab, .main-picture .hero .fas { font-size: 100px; text-align: center; }

.about { background: #c0c0c0; padding: 80px 0; }

.about p { margin: 15px 0; line-height: 35px; text-align: left; }

.about .desc { width: 80%; margin: 0 auto; }

.about .desc p { font-style: normal; font-family: "Roboto Slab"; }

.about .col { margin: 40px 0; }

.about .col .face { height: 250px; width: 250px; border-radius: 50%; margin: 20px auto; background-position: center; background-size: 100%; color: transparent; font-size: 25px; line-height: 200px; }

.about .col .signature p { line-height: 5px; font-style: normal; text-align: justify; text-justify: inter-word; }

.about .col .signature h4 { padding-top: 15px; font-weight: 700; }

.about .col .signature .col { padding: 0; margin-top: 10px; }

.about .col .signature .col .fab, .about .col .signature .col .fas { border: 3px solid #000; border-radius: 50%; width: 40px; height: 40px; font-size: 20px; line-height: 35px; cursor: pointer; color: #000; margin: auto; }

.about .col .signature .col .fab:hover, .about .col .signature .col .fas:hover { line-height: 40px; border: none; color: #6BD080; -webkit-transform: scale(2); transform: scale(2); transition: -webkit-transform 0.5s 0s; transition: transform 0.5s 0s; transition: transform 0.5s 0s, -webkit-transform 0.5s 0s; }

.skills { text-align: center; background-color: #222222; min-height: 100vh; }

.skills h3 { font-size: 18px; font-weight: 700; }

.skills p, .skills h1 { margin: 120px 0; color: #f7f7f7; }

.skills .col { margin: 30px 0; }

.skills .col p { font-size: 14px; line-height: 25px; font-style: normal; font-family: "Roboto Slab"; color: #6BD080; text-align: justify; }

.skills .fas { font-size: 40px; border: 3px solid #6BD080; color: #6BD080; border-radius: 50%; display: block; padding: 10px; width: 70px; height: 70px; margin: 20px auto; }

.skills .fas:hover { -webkit-transform: perspective(800px) rotateY(540deg); transform: perspective(800px) rotateY(540deg); transition: -webkit-transform 2s linear 0s; transition: transform 2s linear 0s; transition: transform 2s linear 0s, -webkit-transform 2s linear 0s; }

.skills .fab { font-size: 30px; border: 2px solid #f7f7f7; color: #f7f7f7; border-radius: 50%; padding: 10px; width: 50px; height: 50px; margin: 10px 5px; }

.portfolio { background: #c0c0c0; padding: 80px 0; }

.portfolio .container { padding-top: 40px; }

.portfolio .container .col { padding: 17px; position: relative; overflow: hidden; height: 420px; margin-bottom: 30px; }

.portfolio .container .photo { height: 300px; z-index: 3; background-size: cover; background-position: center; width: 100%; }

.portfolio .container .photo-description { text-align: center; background-color: #222222; padding: 20px 0; position: relative; z-index: 3; color: #c0c0c0; border: none; }

.portfolio .container .photo-description h4 { line-height: 0px; font-weight: 900; }

.portfolio .container .photo-description p { font-family: "PT Serif", serif; }

.portfolio .container .photo-description a { text-decoration: none; font-size: 15px; color: #6BD080; margin-top: 3px; }

.portfolio .container .layer { height: 300px; z-index: 2; width: calc(100% - 34px); position: absolute; top: 250px; }

.portfolio .container .layer .photo-ico { cursor: pointer; display: block; width: 70%; font-size: 8px; color: #6BD080; margin: 135px auto; text-align: center; visibility: hidden; }

.portfolio .container .layer .photo-ico span { font-size: 18px; border: 2px solid #6BD080; padding: 3px; }

.portfolio .container:hover .layer { top: 17px; background: rgba(0, 0, 0, 0.9); transition: top 0.5s ease-in; }

.portfolio .container:hover .photo-ico { visibility: visible; transition: 0.4s ease-in 0.5s; }

.footer { line-height: 80px; background-color: #222222; color: #FFF; width: 100%; height: 80px; text-align: center; }

.footer p { margin: 0; }

@media (max-width: 992px) { .footer .col .row { padding: 0; }
  .about .about-picture { width: 180px; height: 180px; }
  .about .line { height: 100px; }
  .about .col:first-child * { padding: 0 10px 0 15px; }
  .about .col:nth-child(3) * { padding: 0 15px 0 10px; } }

@media (max-width: 768px) { .main-picture { padding: 30px 5vw; }
  .main-picture nav h1 { width: 60%; float: clear; margin: 0 20% 15px; text-align: center; }
  .main-picture nav li { width: 60%; text-align: center; float: clear; padding: 0 10px; margin: 5px 20%; border: 2px solid #242424; background-color: rgba(0, 0, 0, 0.8); }
  .main-picture nav li:hover { background-color: rgba(0, 0, 0, 0.9); }
  .main-picture .hero { padding-top: 220px; text-align: center; }
  .main-picture .hero h2 { font-size: 60px; }
  .about .col p { font-size: 11px; } }

@media (max-width: 560px) { .main-picture .hero { text-align: center; }
  .main-picture h2 { font-size: 50px; }
  .main-picture h1 { font-size: 34px; } }

.about .row:last-child { height: 200px; }

.about .about-picture { width: 150px; height: 150px; }

.about .line { height: 130px; }

@media (max-width: 480px) { .about .about-picture { width: 110px; height: 110px; }
  .about .line { height: 180px; width: 1px; }
  .about .col h4 { font-size: 13px; }
  .about .col h5 { font-size: 13px; padding-top: 15px; line-height: 20px; }
  .about .hero { text-align: center; } }
/*# sourceMappingURL=style.css.map */