.photo-1 {
	background-image: url("../images/portfolio_1.png");
}

.photo-2 {
	background-image: url("../images/portfolio_2.png");
}

.photo-3 {
	background-image: url("../images/portfolio_3.png");
}

.photo-4 {
	background-image: url("../images/portfolio_4.png");
}

.photo-5 {
	background-image: url("../images/portfolio_5.png");
}

.photo-6 {
	background-image: url("../images/portfolio_6.png");
}

.face-1 {
  background-image: url("../images/myphoto.png"); }
