.photo-1 {
	background-image: url("../images/portfolio1.png");
}

.photo-2 {
	background-image: url("../images/portfolio2.png");
}

.photo-3 {
	background-image: url("../images/portfolio3.png");
}

.photo-4 {
	background-image: url("../images/portfolio4.png");
}

.photo-5 {
	background-image: url("../images/portfolio5.png");
}

.photo-6 {
	background-image: url("../images/portfolio6.png");
}

.face-1 {
  background-image: url("../images/myphoto.png"); }
