.photo-1 {
	background-image: url("../images/portfolio1.png");
}

.photo-2 {
	background-image: url("../images/portfolio2.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
  background-image: url("../images/myphoto.png"); }
